save=true
save-exact=false
save-prefix="^"
hoist=false
shamefully-hoist=false
link-workspace-packages=true
shared-workspace-lockfile=true
recursive-install=true
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted
ignore-scripts=false
ignore-optional=false
ignore-engines=false
ignore-platform=false
ignore-registry=false
